@font-face {
    font-family: 'Gameplay';
    src: url(fontes/Gameplay.ttf);
}

:root {
    --azul: #058CD7;
    --azul-escuro: #02466B;
    --laranja: #FF5F00;
    --preto: #1D191E;
    --branco: #FFFCF7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2, 70, 107);
    background: linear-gradient(0deg, rgba(2, 70, 107, 1) 0%, rgba(29, 25, 30, 1) 51%);
}


.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;
}

.banner {
    height: 100vh;

    background-image: url(img/escritorio.png);
    background-repeat: no-repeat;

    background-position: 10%;
    background-size: cover;
}

header {
    background-color: #02466b63;
    height: 200px;
}

header div.container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 250px;
}

.container-grid.conteudo-banner {
    height: 30%;
    display: flex;

    align-items: center;
    gap: 10px;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;

    font-family: 'Gameplay';
    font-size: 18px;

    text-decoration: underline transparent;
}

.menu button {
    background-color: rgb(9, 24, 54);

    width: 250px;
    height: 40px;
    border-radius: 18px;
    border: none;
}

.menu .um button {
    width: 200px;
}

.menu .dois button {
    width: 200px;
}

.filtro {
    height: 35px;
    width: 400px;

    background-color: #058CD7;
    filter: blur(6px);

    position: absolute;

    top: 270px;
}


.conteudo-banner p {
    color: white;

    font-family: 'Gameplay';
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;

    position: relative;
}

.conteudo-banner {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.conteudo-banner button {
    width: 90px;
    height: 35px;
    border-radius: 30px;

    color: white;
    font-family: 'Gameplay';
    font-size: 18px;

    background-color: #FF5F00;

    border-style: none;
}

#sobre {
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    padding: 100px 25%;
}

h2 {
    font-family: 'Gameplay';
    font-size: 26px;
    color: var(--branco);
}

#cases {
    text-align: center;

    padding-bottom: 500px;
    margin-bottom: 500px;
}