@font-face {
    font-family: 'Gameplay';
    src: url(fontes/Gameplay.ttf);
}

:root {
    --azul: #058CD7;
    --azul-escuro: #02466B;
    --laranja: #FF5F00;
    --preto: #1D191E;
    --branco: #FFFCF7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: rgb(2, 70, 107);
    background: linear-gradient(0deg, #058CD7 0%, #035A8A 5%, rgba(29, 25, 30, 1) 80%);
}


.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;
}

.banner {
    height: 100vh;

    background-image: url(img/escritorio.png);
    background-repeat: no-repeat;

    background-position: 10%;
    background-size: cover;
}

header {
    overflow: hidden;
    background-color: #02466b93;
    padding: 5px 10px;

    transition: 0.4s;

    height: 130px;

    position: fixed;
    top: 0;
    width: 100%;
}

header div.container-grid {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 250px;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;

    font-family: 'Gameplay';
    font-size: 18px;

    text-decoration: underline transparent;
}

.menu button {
    background-color: #011825bb;

    width: 250px;
    height: 40px;
    border-radius: 18px;
    border: none;
}

.menu button.um, button.dois {
    width: 200px;
}

.menu button:hover {
    background-color: #058CD7;
}

.conteudo-banner a {
    color: white;
    text-decoration: none;
}
.conteudo-banner p {
    color: white;

    background-color: #058CD7;
    box-shadow: 0px 0px 30px 15px #058CD7;
    border-radius: 200px;

    font-family: 'Gameplay';
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo-banner {
    height: calc(100vh - 100px);

    display: flex;
    gap: 6px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.conteudo-banner button {
    width: 120px;
    height: 30px;
    border-radius: 30px;
    
    color: white;
    font-family: 'Gameplay';
    font-size: 18px;

    background-color: #FF5F00;

    border-style: none;

    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;
    padding: 4px;
}
.conteudo-banner button span {
    cursor:pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.conteudo-banner button span:after {
    content: '\1F86A';
    position: absolute;

    opacity: 0;
    top: 0;

    right: -20px;
    transition: 0.5s;
}


.conteudo-banner button:hover {
    background-color: #012437c3;
}

.conteudo-banner button:hover span {
    padding-right: 25px;
}

.conteudo-banner button:hover span:after {
    opacity: 1;
    right: 0;
}



#sobre button {
    width: 150px;
    height: 30px;
    border-radius: 20px;

    color: white;
    font-family: 'Press Start 2P';
    font-size: 15px;

    background-color: var(--azul);
    border-style: none;  
}

#sobre .botao-dois {
    background-color: #FF5F00;
}

#sobre {
    height: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    text-align: center;
    padding: 100px 25%;
}

#sobre img {
    width: 20%;
}

#sobre .homem-um {
    flex-direction: row;
    display: flex;
    align-items: center;


}

#sobre .homem-dois {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


#sobre .container-sobre {
    display: flex;
    justify-content: end;
}



#sobre p {
    color: #FFFCF7;
    font-family: 'Press Start 2P';
    font-size: 18px;

    text-align: justify;
    padding: 30px;

    text-indent: 30px;
    letter-spacing: 1px;
    line-height: 1.3;
}



#sobre h2 {
    margin-bottom: 100px;
}


h2 {
    padding: 20px;
    font-family: 'Gameplay';
    font-size: 26px;
    color: var(--branco);
}

.container {
    position: relative;
    width: 100%;
    max-width: 360px;
  }
  
.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6); 
    
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;

    color: white;
 

    font-size: 18px;
    padding: 20px;

    text-align: center;
}
  
  .container:hover .overlay {
    opacity: 1;
}

#cases {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;
}

#cases h2 {
    margin-bottom: 100px;
    margin-top: 200px;
}

.container-cards {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

#contato h2 {
    padding-bottom: 100px;

}

#contato {
    text-align: center;

    padding-bottom: 80px;
    margin-bottom: 80px;
}


#contato p {
    border-bottom: 2px solid #ffffff; width: 100%; padding-bottom:20px;

    margin-bottom: 50px;
}


#campo-nome {
    width: 48%;
}

#campo-email {
    width: 48%;
}

.campo-um {
    flex-flow: row wrap;
    justify-content: space-between;
 
    align-items: flex-end;
   
}

#campo-assunto {
    width: 100%;
}

#contato form {
    width: 40%;

    margin: 0 auto;
    padding: 40px 0;


    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;

    background-color: #1D191E;
    color: #FFFCF7;
    font-family: 'Press Start 2P';
}

.campo {
    width: 80%;

    margin-bottom: 20px;

    display: flex;
    justify-content: flex-end;

    justify-content: space-between;
}

.campo input {
    color: #FFFCF7;
    height: 30px;

    background-color: transparent;

    border-radius: 15px;
    border: none;

    outline: 3px solid white;
    justify-content: flex-end;

    text-indent: 10px;

    font-family: 'Press Start 2P';
    font-size: 14px;
}

.campo-textarea {
    width: 80%;
    margin-bottom: 10px;
    text-align: left;

    justify-content: flex-end;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo-textarea textarea {
    color: #FFFCF7;
    background-color: transparent;

    border: none;
    border-radius: 15px;

    padding: 10px;

    font-family: 'Press Start 2P';
    font-size: 14px;

    outline: 3px solid white;

    border-radius: 15px;
    resize: none;
}

.campo input:focus, .campo-textarea textarea:focus {
    outline: 2px solid var(--azul);
}

#contato form button {
    height: 30px;
    width: 20%;

    font-family: 'Press Start 2P';
    font-size: 14px;
    font-weight: 600;

    color: #FFFCF7;
    background-color: #058CD7;

    border: none;
    border-radius: 20px;

    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 500ms ease;
}

#contato form button:hover {
    background-color: #02466B;
}

#contato form input::placeholder, #contato form textarea::placeholder {
    color: #FFFCF7;
}




footer {
    height: 250px;
    background-color: #1d191ece;
}


footer .container-grid {
    height: 100%;

    display: flex;
    
 
    justify-content: end;
    align-items: center;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais p {
    color: var(--branco);
    padding-bottom: 20px;

    font-family: 'Gameplay';
    font-size: 20px;
}


.icones-redes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.icones-redes img {
    width: 50px;
    height: 50px;
}


